<header class="header">
	<h1 class="h2">
		<a
			class="site-logo" 
			<% if (!locals.route || locals.route?.url !== "/") { %>href="/"<% } %>
		>
			Secret Club
		</a>
	</h1>
	<div class="spacer spacer--vertical spacer--xl"></div>
	<%- include("./siteNav") %>
</header>