<!DOCTYPE html>
<html
	lang="fr"
	class="<%= locals.currentUser && "dark-theme" %>"
>

	<head>
		<%- include("includes/headContent") %>
	</head>

	<body>
		<%- include("includes/header") %>
		<main class="main">
			<h1 class="h1"><%= title %></h1>
			<div class="spacer vertical lg"></div>

			<form class="form" action="/log-in" method="POST">

				<label class="form-field">
					<span class="form-field__label">E-mail</span>
					<input class="form-field__input" name="username" required type="email" />
				</label>

				<label class="form-field">
					<span class="form-field__label">Mot de passe</span>
					<input class="form-field__input" name="password" required type="password" />
				</label>

				<button class="button" type="submit">Connexion</button>
			</form>

		</main>
	</body>

</html>