.messages {
	display: flex;
	gap: var(--lg);
	flex-direction: column;
}

.message {
	--msg-col: var(--col-primary); /* default */
	--message-text-color: oklch(from var(--msg-col) 40% min(c, 0.2) h);
	--message-bubble-text-color: var(--message-text-color);
	--message-bubble-color: oklch(from var(--msg-col) 90% min(c, 0.05) h);

	display: flex;
	gap: var(--md);
}
:root.dark-theme .message {
	--message-text-color: oklch(from var(--msg-col) 100% min(c, 0.2) h);
	--message-bubble-color: oklch(from var(--msg-col) 30% min(c, 0.075) h);
}

.message,
:root.dark-theme .message {
	&.message--from-current-user {
		--message-bubble-text-color: var(--user-col-contrast);
		--message-bubble-color: var(--user-col);
	}
}
.message--from-current-user {
	flex-direction: row-reverse;
}


.message__author {
	width: var(--xxxl);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--xs);
}

.message__picture-container {
	/* background-color: color-mix(in srgb, var(--message-text-color) 25%, transparent); */
	background-color: color-mix(in srgb, var(--message-text-color) 12.5%, transparent);
	border-radius: 999rem;
	width: var(--xxl);
	height: var(--xxl);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.message__picture--image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.message__picture--icon {
	font-size: var(--text-xl);
	color: color-mix(in srgb, var(--message-text-color) 67%, transparent);
	opacity: 0.5;
}

.message__author-name {
	text-align: center;
	color: var(--message-text-color);
	font-weight: var(--text-bold);
}



.message__bubble {
	flex: auto;
	padding: var(--md) var(--lg);
	position: relative;
	color: var(--message-bubble-text-color);
	background-color: var(--message-bubble-color);
	border-radius: var(--md);
	display: flex;
	flex-direction: column;
	gap: var(--xxs);

	&:before {
		content: "";
		position: absolute;
		top: 0;
		border-color: var(--message-bubble-color);
		border-width: var(--md);
		border-style: solid;
		border-top-width: 0;
		border-bottom-color: transparent;
	}
}
.message:not(.message--from-current-user) .message__bubble {
	border-top-left-radius: 0;

	&:before {
		left: calc(var(--md) * -1 + 1px);
		border-left-width: 0;
	}
}
.message--from-current-user .message__bubble {
	border-top-right-radius: 0;

	&:before {
		right: calc(var(--md) * -1 + 1px);
		border-right-width: 0;
	}
}

.message__date {
	font-size: var(--text-sm);
	opacity: 0.6;
}

.message__text {
	font-size: var(--text-xl);
}
