.site-logo {
	display: inline-block;
	&[href] {
		transition: var(--transition);
		&:hover {
			scale: 1.075;
		}
	}
}

.site-nav {
	position: fixed;
	top: var(--lg);
	right: var(--lg);
	display: flex;
	gap: var(--md);
	flex-direction: column;
	color: var(--user-col-contrast);
	background-color: var(--user-col);

	padding: var(--lg) var(--md);
	border-radius: var(--md);
	width: 25rem;

	@media (width < 1500px) {
		position: unset;
		width: fit-content;
		margin-inline: auto;
		margin-bottom: var(--xxl);
		flex-direction: row;
		padding: var(--md) var(--lg);
		gap: var(--lg);
		/* justify-content: space-around;
		justify-content: space-evenly; */
	}
}

.site-nav__header {
	display: flex;
	gap: var(--xs);
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.site-nav__picture-container {
	background-color: color-mix(in srgb, var(--user-col-contrast) 25%, transparent);
	border-radius: 999rem;
	width: var(--xxl);
	height: var(--xxl);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.site-nav__picture--image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.site-nav__picture--icon {
	font-size: var(--text-xl);
	color: var(--user-col-contrast);
	opacity: 0.5;
}

/* .site-nav__username {} */

.site-nav__links {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: var(--sm);

	justify-content: center;
}

.site-nav__link {
	&[href] {
		transition: var(--transition);
		&:hover,
		&:focus-visible {
			scale: 1.1;
			text-decoration: underline;
		}
	}
	&:not([href]) {
		opacity: 33%;
	}
}