.spacer {
	--size: var(--md);
}
.spacer--horizontal {
	width: var(--size);
}
.spacer--vertical {
	height: var(--size);
}
.spacer--xxs {
	--size: var(--xxs);
}
.spacer--xs {
	--size: var(--xs);
}
.spacer--sm {
	--size: var(--sm);
}
.spacer--md {
	--size: var(--md);
}
.spacer--lg {
	--size: var(--lg);
}
.spacer--xl {
	--size: var(--xl);
}
.spacer--xxl {
	--size: var(--xxl);
}